@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to top right,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

main {
  @apply bg-gradient-to-tr from-indigo-600 to-purple-300;
  @apply flex max-h-full flex-col items-center justify-between p-24;
}

.shadow-gray {
  box-shadow: 0 4px 6px rgba(50, 50, 50, 0.582),
    1rem 1rem 1rem rgba(99, 99, 99, 0.582);
}
